@model IEnumerable<CourseRegistration.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New/Register</a> @*| <a asp-action="Register">Register</a>*@
</p>
<table class="table" id="shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <span data-toggle="modal" data-target="#exampleModal" 
                      onclick="showCourses('@item.CourseId')" style="cursor:pointer; text-decoration:underline">

                    @Html.DisplayFor(modelItem => item.CourseId)
                </span>
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentId}) |
                @Html.ActionLink("Details", "Details", new { id=item.StudentId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>
<script>
    function showCourses(id) {
        var url = "@Url.Action("GetCourseName", "Student")/" + id;
        $.get(url, function (data) {
            /*console.log(data)*/
            $('.modal-body').html(data);
            $('#exampleModalLabel').html('Course Name' );
        });

    }
</script>
